    .portaalkeuze .company {
        background-color: #131b56;
        border-radius: 15px;
        height: 398px;
        left: 628px;
        position: absolute;
        top: 0;
        width: 493px;
    }


    .portal-button {
    /* Your styles for the button container go here */
    }

    .portal-button .title {
        /* Your styles for the title element within the button go here */
    }

    .portal-button .company-icon {
        /* Your styles for the company icon element within the button go here */
    }

    .portal-button .people-icon {
        /* Your styles for the people icon element within the button go here */
    }

    .portal-button .company-desc {
        /* Your styles for the company description element within the button go here */
    }
