#company-portal {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
#company-portal h1 {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 5vh;
    font-weight: bold;
}
.history{
    width: 15.4vh;
}
.list-container a {
    text-decoration: none;
}
