#expert-portal {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
#expert-portal h1 {
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
}
.history{
    width: 15.4vh;
}
.achtergrond {
    background: linear-gradient(to right, #3051ea, #19a783);
}
.list-container a {
    text-decoration: none;
}
