#login-form {
    max-width: 50vh;
    background-color: #3051ea;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

    #login-form h1 {
        text-align: center;
        padding: 20px 0;
        font-weight: bold;
        color: white;
    }

    #login-form form {
        padding: 20px;
        background-color: white;
        border-radius: 10px;
    }

.forgotPass {
    text-decoration: none;
    margin: 1rem;

}


.achtergrond {
    background: linear-gradient(to right, #3051ea, #19a783);
    height: 100vh
}
