.button-content {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.button-content:hover {
  transform: scale(1.05);
}
.text-center {
  text-align: center;
}
.company-icon, .people-icon {
  margin-bottom: 1rem;
}
.portal-card {
  background-color: #3051ea;
  color: white;
  border-radius: 10px;
  padding: 3vh;
}
